name: Update lock file

on:
  push:
    branches:
      - "release-please-**"

jobs:
  update-pr:
    permissions:
      contents: write
    name: update-pr
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
        with:
          ref: ${{ github.ref_name }}
          fetch-depth: 2
      - uses: actions/setup-node@v6
        with:
          node-version: 24
      - uses: pnpm/action-setup@v4
        with:
          version: 10
      - run: pnpm install --lockfile-only
      - name: commit
        run: |
          git config --global user.name "release-please[bot]"
          git config --global user.email "55107282+release-please[bot]@users.noreply.github.com"
          git add pnpm-lock.yaml
          git commit -m "Update lock file" --no-verify
          git push origin --no-verify
