name: Update config schema

on:
  push:
    branches:
      - main
    paths:
      - packages/service/vscode

jobs:
  update-schema:
    permissions:
      contents: write
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
        with:
          submodules: "true"
      - uses: actions/setup-node@v6
        with:
          node-version: 24
      - uses: pnpm/action-setup@v2
        with:
          version: 10
      - run: pnpm install
      - run: pnpm --filter ./packages/service patch-extension
      - run: pnpm --filter ./packages/service gen-schema
      - uses: stefanzweifel/git-auto-commit-action@v7
        with:
          commit_message: Update config schema
          file_pattern: packages/service/configuration.schema.json
